form{
    display: flex;
}

input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(184, 184, 184);
}

button{
    border-radius: 10px;
    margin-left: 5px;
    background-color: green;
    color: #fff;
    font-size: 18px;
    width: 30px;
    height: 35px;
    border: none;
    cursor: pointer;
}

.error-message{
    color: red;
    font-size: 12px;
}