.user-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    
  }
  
  .users {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
    
  }
  
  .user-wrapper h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  
  